* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #17153b;
  color: #fff;
}

hr {
  background-color: #C8ACD6;
  border: 1px solid #C8ACD6;
  margin: 30px 0px;
}

.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

